* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
  }  
  
  body {  
    position: relative;  
    font-family: Arial, sans-serif;  
    line-height: 1.6;  
    color: #333;  
    background-image: radial-gradient(#362417, #f79c78, #f8cc99, #fffbff, #7c7c7e); 
  }  

header{
    background-color: black;
    height: 100px;
    display: flex;
}
#hello a{
    text-decoration: none;
    padding: 20px;
    color: #f9b626;
    
}
#hello{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px 0px 40px 600px;
  
    text-decoration: none;  
    text-transform: uppercase;  
    font-size: 16px;
    text-align:right;
    width: 80;  
    margin: auto; 

}
#img1{
    height: 70px;
    margin: 15px;
}
#photo{
  color: white;
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {  
    max-width: 800px;  
    margin: 20px auto;  
    padding: 20px;  
    background: #49111C;  
    border-radius: 8px;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
    color:#f9b626;
  }  
  
  section {  
    margin-bottom: 30px;  
  }  
  #cafemenu{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
  }
  .menu-item {  
    display: flex;  
    align-items: center;  
    background: #f9f9f9;  
    border: 1px solid #ddd;  
    border-radius: 4px;  
    margin-bottom: 15px;  
    padding: 10px;  
  }  
  
  .menu-item img {  
    width: 100px; 
    
    height: 100px;
    border-radius: 4px;  
    margin-right: 20px;  
  }  
  
  .menu-item h3 {  
    margin: 0;  
    font-size: 1.5em;  
    color: #333;  
  }  
  
  .menu-item p {  
    margin: 5px 0;  
    color: #777;  
  }  
  
  .menu-item span {  
    font-weight: bold;  
    color: #333;  
    margin-left: auto;  
  }  
  
  @media (max-width: 600px) {  
    .menu-item {  
      flex-direction: column;  
      align-items: flex-start;  
    }  
  
    .menu-item img {  
      margin-bottom: 10px;  
    }  
  
    header h1 {  
      font-size: 2em;  
    }  
  
    header ul li {  
      margin-left: 10px;  
    }  
  }
  footer {   
    padding: 10px 0;  
    background: #131313;  
    color: #fff;  
    position: absolute;  
    bottom: 0;  
    width: 100%;  
    margin: auto;
    text-align: center;
  }  



 
